<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Profile</h4>
                <h6 class="card-subtitle">Settings...</h6>
                <form class="form p-t-20" 
                    [formGroup]="profileForm"
                    (submit)="updateProfile()">
                    <div class="form-group">
                        <label for="exampleInputuname">User Name</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="text" 
                                class="form-control" 
                                id="exampleInputuname" 
                                placeholder="Username"
                                formControlName="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" 
                                class="form-control" 
                                id="exampleInputEmail1" 
                                placeholder="Email"
                                formControlName="email"
                                [readOnly]="userImg.google">
                        </div>
                    </div>
                    <button type="submit" 
                            class="btn btn-success btn-block waves-effect waves-light m-r-10"
                            [disabled]="profileForm.invalid">
                        <i class="fa fa-save"></i>
                        Submit changes
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Avatar</h4>
                <h6 class="card-subtitle">User imagen</h6>

                <div class="text-center">
                    <img [src]="userImg.img" 
                        alt="userService.user.img"
                        class="img-avatar m-2"
                        *ngIf="!imgTemp">
                    <img [src]="imgTemp" 
                        alt="New imagen"
                        class="img-avatar m-2"
                        *ngIf="imgTemp">
                </div>
                <input type="file" 
                    name="update-imagen" 
                    id="update-imagen"
                    (change)="changeImagen($event.target.files[0])">
                <!-- <fieldset class="form-group">
                    <label class="custom-file d-block">
                        <input type="file" id="file" class="custom-file-input">
                        <span class="custom-file-control file-upload"></span>
                    </label>
                </fieldset> -->
                <button type="buton" 
                        class="btn btn-success btn-block waves-effect waves-light m-r-10 mt-2"
                        [disabled]="!imagenToUpload"
                        (click)="uploadImagen()">
                    <i class="fa fa-save"></i>
                    Change imagen
                </button>
            </div>
        </div>
    </div>
</div>